version: '3.9'
services:
  app:
    build: ./app
    ports:
      - "5001:5000"
    depends_on:
      - postgres
    networks:
      - backend

  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: "db"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "123"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ./database/sql/database.sql:/docker-entrypoint-initdb.d/database.sql
      - ./database/pgdata/:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    networks:
      - backend
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d db" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G

volumes:
  db_data:

networks:
  backend:
